{% extends "summary/base.html" %}
{% load static %}
{% block index %}
<div class="col">
    <div>
        <img src="{%static 'images/logo.png' %}" alt="LOGO.png">
    </div>
    <div>
        <h3>Online Text Summary</h3>
    </div>
</div>

<div class="col">
        {% if original_text %}
            <h2>Teksti(URL) i Vendosur:</h3>
            {{ original_text }}
        {% else %}
            {% include "summary/includes/text_input_form.html" %}
        {% endif %}
        
</div>

<div class="col">
    {% include "summary/includes/result.html" %}
</div>

{% endblock %}