{% extends 'summary/base.html' %}
{% load static %}
{% block index %}


    <style> 
         label {
            font-size: 30px;
        }

        .col-sm-6 label{
            color: rgb(122, 26, 26);
        }

        
    </style>
    <div class="d-flex justify-content-center" style="margin-top: 100px">
        
        <div class="col">
            <label>Metode e lehte dhe e shpejte per te bere permbledhjen e nje teksti te formatit PDF</label>
            <img src="{% static 'images/logo.png' %}" style="width: 300px">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.errors }}
                <div class="form-group">
                    <label>Beje Upload File-in PDF:</label>
                    {{ form.document }}
                </div>

                <label>Summarize (Zgjedh nje vlere ne mes 5-50 %) </label>
                <div class="input-group mb-3">
                    {{ form.summary_p }}
                    <div class="input-group-apppend">
                        <span class="input-group-text" id="basic-addon2">%</span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">DOWNLOAD SUMMARY</button>
            </form>
        </div>
    </div>

{% endblock %}