{% extends "summary/base.html" %}


{% block index %}

    <div class="titujt container" style="margin-top: 80px; margin-bottom: 48px;">
        <h2 style="padding-bottom: 20px;">5 Titujt Kryesor nga <strong> {{ source }} : </strong></h2>
        <ul>
            {% for key, value in news.items %}
                <li>
                    <h3 style="padding-bottom: 10px;">{{ key }}</h3>
                </li>
                    <p style="border: 1px solid; padding: 10px 20px;">{{ value }}</p>

            {% endfor %}
        </ul>
    </div>

{% endblock %}